---
dist: xenial
language: ruby
services:
  - redis-server
cache: bundler
rvm:
  - 2.5.8
  - 2.6.6
  - 2.7.2
gemfile:
  - gemfiles/activejob_4.2.x.gemfile
  - gemfiles/activejob_5.2.x.gemfile
  - gemfiles/activejob_6.0.x.gemfile
  - gemfiles/activejob_6.1.x.gemfile
  - gemfiles/sidekiq_4.2.x.gemfile
  - gemfiles/sidekiq_5.2.x.gemfile
  - gemfiles/sidekiq_6.1.x.gemfile
matrix:
  exclude:
    - rvm: 2.7.2
      gemfile: gemfiles/activejob_4.2.x.gemfile
    - rvm: 2.7.2
      gemfile: gemfiles/sidekiq_4.2.x.gemfile

before_install: gem install bundler -v '~> 2.1.4'
bundler_args: --jobs 3 --retry 3
